body {
  background-color: #98AFC7;
  background-image: url("bg1.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.titlebox {
  margin: auto;
  width: 50%;
  text-align: center;
}
